{% extends "components/layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container-fluid" style="display: flex; height: auto; ">

    <!-- Panel lateral izquierdo para los filtros -->
    <aside style="width: 250px; background-color: #2C3E50; padding: 20px; color: white;">
        <h2 style="font-size: 20px; font-family: 'Century Gothic', sans-serif; text-align: center; margin-top: 0,1px;">Filtros</h2>
        <div class="filters" style="font-size: 24px; font-family: 'Century Gothic', sans-serif; text-align: center; display: flex; flex-direction: column; gap: 0.5px;">
             
            <!-- Label e Input para Fecha Inicio -->
            <label for="fechaInicio" style="color: white; font-size: 10px;">Fecha Inicio</label>
            <input type="date" id="fechaInicio" name="fechaInicio" class="form-control filter-select" placeholder="Fecha Inicio" style="height: 30px; padding: 5px; font-size: 12px;">
            
             <!-- Label e Input para Fecha Fin -->
             <label for="fechaFin" style="color: white; font-size: 10px;">Fecha Fin</label>
             <input type="date" id="fechaFin" name="fechaFin" class="form-control filter-select" placeholder="Fecha Fin" style="height: 30px; padding: 5px; font-size: 12px;">

            <label for="cedulaTecnico" style="color: white; font-size: 10px;">Criterios</label>
            <select id="cedulaTecnico" name="cedulaTecnico" class="form-control filter-select">
                <option value="" disabled selected>Cédula Técnico</option>
                {% for cedula in cedulas %}
                    <option value="{{ cedula }}">{{ cedula }}</option>
                {% endfor %}
            </select>
            <select id="nombreTecnico" name="nombreTecnico" class="form-control filter-select">
                <option value="" disabled selected>Nombre Técnico</option>
                {% for nombre in nombres %}
                    <option value="{{ nombre }}">{{ nombre }}</option>
                {% endfor %}
            </select>
            <select id="turno" name="turno" class="form-control filter-select">
                <option value="" disabled selected>Turno</option>
                {% for turno in turnos %}
                    <option value="{{ turno }}">{{ turno }}</option>
                {% endfor %}
            </select>
            <select id="concesion" name="concesion" class="form-control filter-select">
                <option value="" disabled selected>Concesión</option>
                {% for concesion in concesiones %}
                    <option value="{{ concesion }}">{{ concesion }}</option>
                {% endfor %}
            </select>
            <select id="control" name="control" class="form-control filter-select">
                <option value="" disabled selected>Control</option>
                {% for control in controles %}
                    <option value="{{ control }}">{{ control }}</option>
                {% endfor %}
            </select>
            <select id="ruta" name="ruta" class="form-control filter-select">
                <option value="" disabled selected>Ruta</option>
                {% for ruta in rutas %}
                    <option value="{{ ruta }}">{{ ruta }}</option>
                {% endfor %}
            </select>
            <select id="linea" name="linea" class="form-control filter-select">
                <option value="" disabled selected>Línea</option>
                {% for linea in lineas %}
                    <option value="{{ linea }}">{{ linea }}</option>
                {% endfor %}
            </select>
            <select id="cop" name="cop" class="form-control filter-select">
                <option value="" disabled selected>COP</option>
                {% for cop in cops %}
                    <option value="{{ cop }}">{{ cop }}</option>
                {% endfor %}
            </select>
            <select id="usuarioRegistra" name="usuarioRegistra" class="form-control filter-select">
                <option value="" disabled selected>Usuario Registra</option>
                {% for registrado_por in registrado %}
                    <option value="{{ registrado_por }}">{{ registrado_por }}</option>
                {% endfor %}
            </select>
            <div class="buttons" style="display: flex; justify-content: space-between; margin-top: 5px;">
                <button class="btn btn-success" onclick="buscarAsignaciones()">Buscar</button>

            <script>
                function buscarAsignaciones() {
                    // Obtener los valores seleccionados de los filtros
                    var fechaInicio = document.getElementById('fechaInicio').value;
                    var fechaFin = document.getElementById('fechaFin').value;
                    var cedulaTecnico = document.getElementById('cedulaTecnico').value;
                    var nombreTecnico = document.getElementById('nombreTecnico').value;
                    var turno = document.getElementById('turno').value;
                    var concesion = document.getElementById('concesion').value;
                    var control = document.getElementById('control').value;
                    var ruta = document.getElementById('ruta').value;
                    var linea = document.getElementById('linea').value;
                    var cop = document.getElementById('cop').value;
                    var usuarioRegistra = document.getElementById('usuarioRegistra').value;
                
                    // Enviar los datos al servidor utilizando una solicitud AJAX
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/buscar_asignaciones', true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            // Manejar la respuesta y actualizar la tabla con los datos recibidos
                            var datos = JSON.parse(xhr.responseText);
                            actualizarTabla(datos);
                        }
                    };
                    xhr.send(JSON.stringify({
                        fechaInicio: fechaInicio,
                        fechaFin: fechaFin,
                        cedulaTecnico: cedulaTecnico,
                        nombreTecnico: nombreTecnico,
                        turno: turno,
                        concesion: concesion,
                        control: control,
                        ruta: ruta,
                        linea: linea,
                        cop: cop,
                        usuarioRegistra: usuarioRegistra
                    }));
                }
                
                function actualizarTabla(datos) {
                    // Lógica para actualizar la tabla con los datos recibidos
                    var tabla = document.getElementById('tablareporte').getElementsByTagName('tbody')[0];
                    tabla.innerHTML = ''; // Limpiar la tabla actual
                
                    // Recorrer los datos y agregar filas a la tabla
                    datos.forEach(function(asignacion) {
                        var row = tabla.insertRow();
                        row.insertCell(0).innerText = asignacion.fecha;
                        row.insertCell(1).innerText = asignacion.cedula;
                        row.insertCell(2).innerText = asignacion.nombre;
                        row.insertCell(3).innerText = asignacion.turno;
                        row.insertCell(4).innerText = asignacion.h_inicio;
                        row.insertCell(5).innerText = asignacion.h_fin;
                        row.insertCell(6).innerText = asignacion.concesion;
                        row.insertCell(7).innerText = asignacion.control;
                        row.insertCell(8).innerText = asignacion.ruta;
                        row.insertCell(9).innerText = asignacion.linea;
                        row.insertCell(10).innerText = asignacion.cop;
                        row.insertCell(11).innerText = asignacion.observaciones;
                        row.insertCell(12).innerText = asignacion.registrado_por;
                        row.insertCell(13).innerText = asignacion.fecha_hora_registro;
                    });
                }
            </script>    

                <button class="btn btn-warning" onclick="limpiarFiltros()">Limpiar</button>

            <script>
                function limpiarFiltros() {
                    // Limpiar los inputs de tipo "date"
                    document.getElementById('fechaInicio').value = '';
                    document.getElementById('fechaFin').value = '';
                
                    // Restablecer los selects a la opción por defecto
                    document.getElementById('cedulaTecnico').selectedIndex = 0;
                    document.getElementById('nombreTecnico').selectedIndex = 0;
                    document.getElementById('turno').selectedIndex = 0;
                    document.getElementById('concesion').selectedIndex = 0;
                    document.getElementById('control').selectedIndex = 0;
                    document.getElementById('ruta').selectedIndex = 0;
                    document.getElementById('linea').selectedIndex = 0;
                    document.getElementById('cop').selectedIndex = 0;
                    document.getElementById('usuarioRegistra').selectedIndex = 0;

                    // Limpiar la tabla de reporte
                    var tabla = document.getElementById('tablareporte').getElementsByTagName('tbody')[0];
                    tabla.innerHTML = ''; // Vaciar el contenido de la tabla
                }
            </script>

            </div>
        </div>
    </aside>

    <!-- Ajustar el estilo de la sección del panel izquierdo de filtros -->
    <style>
        .filter-select {
            height: 30px;
            padding: 5px;
            font-size: 12px;
        }
    </style>

    <!-- Contenido principal -->
    <main style="flex-grow: 1; background-color: white; padding: 20px; margin-top: 0px;">
        <header style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-size: 20px; font-family: 'Century Gothic', sans-serif; flex: 1; text-align: center; margin-right: 20px; margin-top: 1px;">Reporte de Asignaciones de Técnicos Centro de Control</h1>
            <img src="/static/Consorcio.png" alt="Consorcio Icon" style="max-width: 100px; height: auto;">
        </header>
        
        <!-- Contenedor Fijo con Barras de Desplazamiento -->
        <div style="max-height: 380px; border: 1px solid #ddd; padding: 10px; margin-top: 1px; overflow-x: auto; overflow-y: auto;">    
            <div class="table-container" style=" white-space: nowrap;">
                <table id="tablareporte" class="table table-bordered">
                    <style>
                        /* Estilos adicionales para la Grilla de asignación */
                        #tablareporte {
                            width: 160%; /* Ancho completo del contenedor padre */
                            min-width: auto; /* Ancho mínimo para la tabla, ajusta según tus necesidades */
                            border-collapse: collapse;
                            font-size: 12px; /* tamaño fuente dentro de la grilla */
                            font-family: 'Century Gothic', sans-serif; /* Fuente para la grilla */
                            table-layout: fixed; /* Fijar el tamaño de las columnas */
                        }

                        #tablareporte th, #tablareporte td {
                            padding: 8px;
                            text-align: left; /* Alinear el texto a la izquierda en los encabezados */
                            border: 1px solid #d3d3d3;
                            vertical-align: middle; /* Alinear el texto en el medio verticalmente */
                            word-wrap: break-word; /* Ajuste automático del texto */
                            white-space: nowrap; /* Evitar que el texto se envuelva */
                            overflow: hidden; /* Ocultar el desbordamiento del contenido */
                            text-overflow: ellipsis; /* Añadir puntos suspensivos si el texto es demasiado largo */
                        }
                        
                        #tablareporte th { /* Encabezados */
                            background-color: #041053;
                            font-size: 10px; /* tamaño fuente dentro del encabezado */
                            font-family: 'Century Gothic', sans-serif; /* Fuente del encabezado */
                            color: white;
                            font-weight: bold;
                            position: sticky;
                            top: 0; /* Mantiene el encabezado fijo en la parte superior */
                            z-index: 1;
                        }

                        #tablareporte tbody tr {
                            height: auto; /* Ajusta el alto de las filas */
                        }

                        #tablareporte tbody tr:nth-child(even) {
                            background-color: #fdfdff;
                        }

                        #tablareporte tbody tr:hover {
                            background-color: #d3d8f1;
                        }
                    </style>
                    <!-- Datos de la Grilla de Descarga-->
                    <thead>
                        <tr>
                            <th style="width: 3.5%;">Fecha</th>
                            <th style="width: 3.5%;">Cédula</th>
                            <th style="width: 9%;">Nombre Técnico</th>
                            <th style="width: 2.5%;">Turno</th>
                            <th style="width: 3%;">Hora Inicio</th>
                            <th style="width: 3%;">Hora Fin</th>
                            <th style="width: 4.5%;">Concesión</th>
                            <th style="width: 4.5%;">Control</th>
                            <th style="width: 3.5%;">Ruta</th>
                            <th style="width: 3.5%;">Línea</th>
                            <th style="width: 5%;">COP</th>
                            <th style="width: 6%;">Observaciones</th>
                            <th style="width: 7%;">Usuario Registra</th>
                            <th style="width: 5%;">Fecha de Registro</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for asignacion in asignaciones %}
                        <tr>
                            <td>{{ asignacion.fecha }}</td>
                            <td>{{ asignacion.cedula }}</td>
                            <td>{{ asignacion.nombre }}</td>
                            <td>{{ asignacion.turno }}</td>
                            <td>{{ asignacion.h_inicio }}</td>
                            <td>{{ asignacion.h_fin }}</td>
                            <td>{{ asignacion.concesion }}</td>
                            <td>{{ asignacion.control }}</td>
                            <td>{{ asignacion.ruta }}</td>
                            <td>{{ asignacion.linea }}</td>
                            <td>{{ asignacion.cop }}</td>
                            <td>{{ asignacion.observaciones }}</td>
                            <td>{{ asignacion.registrado_por }}</td>
                            <td>{{ asignacion.fecha_hora_registro }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="download-options" style="margin-top: 10px; display: flex; gap: 5px; justify-content: center;">
            <button class="btn btn-primary" onclick="descargar('xlsx')">Descargar XLSX</button>
            <button class="btn btn-primary" onclick="descargar('csv')">Descargar CSV</button>
            <button class="btn btn-primary" onclick="descargar('json')">Descargar JSON</button>

        <script>
            function descargar(formato) {
                var fechaInicio = document.getElementById('fechaInicio').value;
                var fechaFin = document.getElementById('fechaFin').value;
                var cedulaTecnico = document.getElementById('cedulaTecnico').value;
                var nombreTecnico = document.getElementById('nombreTecnico').value;
                var turno = document.getElementById('turno').value;
                var concesion = document.getElementById('concesion').value;
                var control = document.getElementById('control').value;
                var ruta = document.getElementById('ruta').value;
                var linea = document.getElementById('linea').value;
                var cop = document.getElementById('cop').value;
                var usuarioRegistra = document.getElementById('usuarioRegistra').value;
            
                var xhr = new XMLHttpRequest();
            
                if (formato === 'xlsx') {
                    xhr.open('POST', '/descargar_xlsx', true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.responseType = 'blob';
                    xhr.onload = function () {
                        if (xhr.status === 200) {
                            var blob = new Blob([xhr.response], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                            var link = document.createElement('a');
                            link.href = window.URL.createObjectURL(blob);
                            link.download = 'asignaciones.xlsx';
                            link.click();
                        }
                    };
                } else if (formato === 'csv') {
                    xhr.open('POST', '/descargar_csv', true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.responseType = 'blob';
                    xhr.onload = function () {
                        if (xhr.status === 200) {
                            var blob = new Blob([xhr.response], { type: 'text/csv' });
                            var link = document.createElement('a');
                            link.href = window.URL.createObjectURL(blob);
                            link.download = 'asignaciones.csv';
                            link.click();
                        }
                    };
                } else if (formato === 'json') {
                    xhr.open('POST', '/descargar_json', true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.onload = function () {
                        if (xhr.status === 200) {
                            var blob = new Blob([xhr.response], { type: 'application/json' });
                            var link = document.createElement('a');
                            link.href = window.URL.createObjectURL(blob);
                            link.download = 'asignaciones.json';
                            link.click();
                        }
                    };
                }
            
                xhr.send(JSON.stringify({
                    fechaInicio: fechaInicio,
                    fechaFin: fechaFin,
                    cedulaTecnico: cedulaTecnico,
                    nombreTecnico: nombreTecnico,
                    turno: turno,
                    concesion: concesion,
                    control: control,
                    ruta: ruta,
                    linea: linea,
                    cop: cop,
                    usuarioRegistra: usuarioRegistra
                }));
            }           
        </script>
            
        </div>
        <!-- Estilos de los botones de descarga-->
        <style>
            .download-options button {
                padding: 4px 10px; /* Opción 1: Ajusta el padding vertical y horizontal */
                font-size: 12px; /* Ajusta el tamaño de la fuente si es necesario */
            }
        </style>

    </main>
</div>

{% endblock %}